<strong>Recuperando senha</strong>

<p>Solicitação de recuperação de senha para o email ({{ email }})</p>

<p>Favor utilizar o token para recuperação da senha: {{ token }} ou</p>

<p>Clique aqui <a href="{{ link }}">Criar nova senha</a></p>
